


<form [formGroup]="newsletterForm" (ngSubmit)="sendNewsletter()">
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
    <div *ngIf="newsletterForm.get('email').invalid && (newsletterForm.get('email').dirty || newsletterForm.get('email').touched)">
      <div *ngIf="newsletterForm.get('email').errors.required">Email is required.</div>
      <div *ngIf="newsletterForm.get('email').errors.email">Invalid email format.</div>
    </div>
  </div>
  
  <button type="submit" [disabled]="newsletterForm.invalid">Send Newsletter</button>
</form>
